<div class="my-content">
  
  <div class="container" style="width:100%;apadding:0px;max-width: inherit;">
      

      <div class="container" style="width:100%;padding:0px;max-width: inherit;">
        <div class="row topbanner" style="background-image:url({{ '/assets/images/' | append: page.banner; | relative_url }});">
          <div class="msk"></div>

          
            <div style="position: relative;line-height: 1em;">{{page.main_heading}}</div>


            <!-- <div style="position: absolute;font-size: 16px;bottom:50px;color:#ccc;">Some lorem ipsum and then in the fox and the jimp of bla</div> -->


            <div class="logo_secondary"><img src="{{ '/assets/images/04_CtrlO_white.svg' | relative_url }}" /></div>
          
          <!-- <img src="ctrlo-white.svg" style="    height: 40px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;" /> -->
          {% include navmenu.html %}


          <div class="col-md-12">
            <div></div>
          </div>
        </div>


      <div class="row second-section-one">
        <div class="col-md-4 column-one">
          <div>{{page.imperative_text}}</div>
        </div>
        <div class="col-md-8 padded40">
          <p>
          {{page.var1}}
          </p>
          <p>
          {{page.var2}}
          </p>
        </div>
      </div>


      <div class="row second-section-two padded40">
        <div class="col-md-4 padded40 col-6">
          <img src="{{ '/assets/images/' | append: page.f1_icon | relative_url }}" />
          <div class="hline"></div>
          <div>{{page.f1}}</div>
        </div>
        <div class="col-md-4 padded4 col-6">
          <img src="{{ '/assets/images/' | append: page.f2_icon | relative_url }}" />
          <div class="hline"></div>
          <div>{{page.f2}}</div>
        </div>
        <div class="col-md-4 padded40 col-6">
          <img src="{{ '/assets/images/' | append: page.f3_icon | relative_url }}" />
          <div class="hline"></div>
          <div>{{page.f3}}</div>
        </div>


        <div class="col-md-4 padded40 col-6">
          <img src="{{ '/assets/images/' | append: page.f4_icon | relative_url }}" />
          <div class="hline"></div>
          <div>{{page.f4}}</div>
        </div>
        <div class="col-md-4 padded40 col-6">
          <img src="{{ '/assets/images/' | append: page.f5_icon | relative_url }}" />
          <div class="hline"></div>
          <div>{{page.f5}}</div>
        </div>
        <div class="col-md-4 padded40 col-6">
          <img src="{{ '/assets/images/' | append: page.f6_icon | relative_url }}" />
          <div class="hline"></div>
          <div>{{page.f6}}</div>
        </div>

      </div>

      

      <div class="row second-section-one">
        <div class="col-md-4 column-one">
          <div>{{page.var20}}</div>
        </div>
        <div class="col-md-8 padded40">
          <p>
          {{page.var21}}
          </p>
          <p>
          {{page.var22}}
          </p>
        </div>
      </div>


      <div class="row second-page-shadowbox">
        <div class="col-md-12">
          <img src="{{ '/assets/images/' | append: 'shadowed-image.png' | relative_url }}" />
        </div>
      </div>

      <div class="row" style="padding: 30px;">
        
        <div class="col-md-12">
          
          <div class="row">
            <div class="col-md-3 prelative col-6 mt-4">
              <div class="vline-left"></div>
              <div class="row padleft10">
                <div class="col-md-12">
                  {{page.var23}}
                </div>
              </div>
              <div class="row padleft10">
                <div class="col-md-12">

                  <span>{{page.var24}}</span>    
                </div>
              </div>
            </div>


            <div class="col-md-3 prelative col-6 mt-4">
              <div class="vline-left"></div>
              <div class="row padleft10">
                <div class="col-md-12">
                  <span><img src="{{ '/assets/images/' | append: page.icon1 | relative_url }}" class="micon2" /></span>    
                </div>
              </div>
              <div class="row padleft10">
                <div class="col-md-12">

                  <span>{{page.var25}}</span>    
                </div>
              </div>
            </div>

            <div class="col-md-3 prelative col-6 mt-4">
              <div class="vline-left"></div>
              <div class="row padleft10">
                <div class="col-md-12">
                  <span><img src="{{ '/assets/images/' | append: page.icon2 | relative_url }}" class="micon2" /></span>    
                </div>
              </div>
              <div class="row padleft10">
                <div class="col-md-12">
                  <span>{{page.var26}}</span>    
                </div>
              </div>
            </div>
            <div class="col-md-3 prelative col-6 mt-4">
              <div class="vline-left"></div>
              <div class="row padleft10">
                <div class="col-md-12">
                  <span><img src="{{ '/assets/images/' | append: page.icon3 | relative_url }}" class="micon2" /></span>    
                </div>
              </div>
              <div class="row padleft10">
                <div class="col-md-12">
                  <span>{{page.var27}}</span>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div class="row section-twoblock">
        <div class="col-md-6" style="padding-right:0px;">
          <div class="banner" style="background-image:url({{ '/assets/images/' | append: page.pic3 | relative_url }});height:400px;"></div>
        </div>
        <div class="col-md-6">
          <div class="row padded40">
            <div class="col-md-12">
              
              <div class="mheader2">{{page.var28}}</div>
              <div class="mpara">{{page.var29}}</div>
              <div><a href="#" class="mlink">{{page.var30}}</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row section-twoblock">
        <div class="col-md-6">
          <div class="row padded40">
            <div class="col-md-12">
              
              <div class="mheader2">{{page.var31}}</div>
              <div class="mpara">{{page.var32}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-left:0px;">
          <div class="banner" style="background-image:url({{ '/assets/images/' | append: page.pic4 | relative_url }});height:400px;"></div>
        </div>
      </div>



</div>