<div id="mnu">

            <div class="mnu-howwehelp mnu-inner">
              <div class="row" style="height:100px;">
                <div class="col-md-12"></div>
              </div>
              <div class="row" style="height: 100%;">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12" style="padding:20px;">
                      <a href="#">We Help All</a>
                      <a href="#">Help is here</a>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-4" style="border-left: 1px solid #fff;">
                  <div class="row">
                    <div class="col-md-12" style="padding:20px;">
                      <a href="#">Linkspace Features</a>
                      
                      <a href="#">Getting Started</a>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-4" style="border-left: 1px solid #fff;">
                  <div class="row">
                    <div class="col-md-12" style="padding:20px;">
                      <a href="#">G-Cloud Link</a>
                      <a href="#">DOS Link</a>
                      <a href="#">User Experience</a>
                    </div>
                  </div>
                  

                </div>
              </div>
            </div> 


            <div class="mnu-about mnu-inner">
              <div class="row" style="height:100px;">
                <div class="col-md-12"></div>
              </div>
              <div class="row" style="height: 100%;">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12" style="padding:20px;">
                      <a href="#">Linkspace</a>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-4" style="border-left: 1px solid #fff;">
                  <div class="row">
                    <div class="col-md-12" style="padding:20px;">
                      <a href="#">Linkspace Features</a>
                      <a href="#">User Experience</a>
                      <a href="#">Getting Started</a>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-4" style="border-left: 1px solid #fff;">
                  <div class="row">
                    <div class="col-md-12" style="padding:20px;">
                      <a href="#">G-Cloud Link</a>
                      <a href="#">DOS Link</a>
                    </div>
                  </div>
                  

                </div>
              </div>
            </div>  
          </div>